body{
  font-family: 'Roboto', sans-serif;
  background-color: #4e5156;
  color:white;

  text-align: center;
  border: 60px solid #2EC486;
  border-top: 0px;
  margin: 0px;
}

p{
  padding-top: 40%;
  padding-left: 20%;
  padding-right: 20%;
}

form {
  font-size: 1.5em

}

#sub{
  background-color: gold;
  height: 80px;
  width: 150px;
  margin: 5px;
  font-size: 1em;
  border-radius: 25px;
}
